{% extends "profile_base.html" %}

{% block content %}
    <h2>Dorm Room Details</h2>
    <div class="room-grid">
        {% for room in dorm_rooms %}
            <div class="room-card">
                <h3>{{room.title}}</h3>
                <p>{{ room.content }}</p>
                <p><strong>Type:</strong> {{ room.type }}</p>
                <p><strong>Price:</strong> {{ room.price }}</p>
                <!-- <p><strong>Popularity:</strong> {{ room.popularity }}</p> -->
                <p><strong>Posted by:</strong> {{room.posted_by.username}}</p>
                <a href="{{ room.link }}" target="_blank">Learn More</a>
            </div>
        
            
        {% endfor %}
    </div>
{% endblock %}
