{% extends "base.html" %}

{% block content %}
    <h2>Dorm Room Details</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Type</th>
            <th>Price</th>
        </tr>
        {% for room in dorm_rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.title }}</td>
                <td>{{ room.content }}</td>
                <td>{{ room.type }}</td>
                <td>{{ room.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
