{% extends "profile_base.html" %}

{% block content %}
    <section class="content">
        <h2>User Profile</h2>
        <div class="profile-info">
            <p><strong>ID: {{database_output.id}}</strong></p>
            <p><strong>Username: {{ database_output.username }}</strong></p>
            <p><strong>Email: {{ database_output.email }}</strong></p>
            <!-- <p><strong>Password: {{ database_output.}}</strong></p> -->
            <p><strong>NID: {{ database_output.nid }}</strong></p>
            <!-- <p><strong>Location:</strong></p> -->
        </div>
        <a href="{% url 'users_logout' %}" class="btn btn-danger">Logout</a>

    </section>
{% endblock %}
