<!DOCTYPE html>
<html>
<head>
    <title>Student Housing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Student Housing Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <!-- <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li> -->
                <li><a href="/dorm_room_details">Dorm Room Details</a></li> <!-- New link for Dorm Room Details -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
