<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Student Housing</title>
</head>
<body>
    <header>
        <h1>Student Housing Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'users_login' %}">Login</a></li>
                <li><a href="{% url 'users_register' %}">Register</a></li>
                <li><a href="#">Dorm Room Details</a></li> <!-- New link for Dorm Room Details -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>