{% extends "profile_base.html" %}

{% block content %}
<body style="background-image: url('/static/bg8.gif'); background-size: cover;">
    <h3>Proposal by {{notif.user.username}}</h3>

    <div class="details">
        <p>Post Title : {{notif.post.title}}</p>
        <p>Type : {{notif.post.type}}</p>
        <p>Price : {{notif.post.price}}</p>
        <a href="{{notif.post.link}}">See post</a>
    </div>

    <br>

    <div class="user-info">
        <h3>User Info</h3>
        <p>Username: {{notif.user.username}}</p>
        <p>Email: {{notif.user.email}}</p>
        <p>NID: {{notif.user.nid}}</p>
    </div>

    {% if res.notification.user.username == username and res.response == 'accepted' %}
            <p style="text-align: center;">The proposal has been accepted! The payment for this dorm room is still pending...</p>

        <form method="post" style="display: flex; justify-content: center;" action="{% url 'payment' username=username pk=notif.id%}">
            {% csrf_token %}
            <button type="submit">Move to Payment</button>
        </form>
    {% else %}
        {% if res.response == 'accepted' %}
            <p style="display: flex; justify-content: center;">You have accepted this proposal</p>
        {% else %}
        <div class="accept-deny" style = "display: flex; justify-content: center; margin-bottom: 25px;">
            <form class="accept-prop" method="post" style="margin-right: 10px;" action="{% url 'accept_proposal' username=username pk=notif.id %}">
                {% csrf_token %}
                <button type="submit">Accept Proposal</button>
            </form>

            <form class="accept-prop" method="post" action="{% url 'deny_proposal' username=username pk=notif.id %}">
                {% csrf_token %}
                <button style="background-color: rgb(175, 21, 21);">Deny Proposal</button>
            </form>
        </div>
        {% endif %}

    {% endif %}

</body>
{% endblock %}